/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/**** HEADER ****/

header
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: fixed;
    transition-duration: .3s;
    height: 55px;
    padding: 10px 0 0 0;
}

.scroll-down {
    background: #202020;
}


header i{
    color: #D44444;
    /*transition-delay: 1s;*/
    transition-duration: .3s;
}

header i:hover{
    color: white;
}

.logo
{
    display: flex;
    align-items: flex-end;
}

.logo p
{
    color: #D44444;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-left: 5px;
}

.profile{
    width: 5%;
    display: flex;
    justify-content: space-between;
}




                /**** MAIN ****/

/*SECTION 1*/


.jasmin-noir{
    
    width: 100%;
    height: 570px;
    background-image: url(../img/top-left-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}


.fiche-jamsin {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 340px;
}

.presentation-jasmin {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    height: 280px;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation-jasmin ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presentation-jasmin li + li{
    margin-bottom: 18px;
}
.presentation-jasmin h1 {
    font-size: 2em;
}

.presentation-jasmin h2 {
    font-size: .9em;
    
}

.img-jasmin {
    
    width: 14%;
    background-image: url(../img/top-left.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.presentation-jasmin a {
    border: 1px solid #d44444;
    border-radius: 15px;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    color: #d44444;
    padding: 7px 30px;
    transition-duration: .3s;
}


.presentation-jasmin a:hover {
    background: #d44444;
    color: white;
}






                /**** ****/


/*SECTION 2 4 5*/

.best-seller {
    
    width: 100%;
    margin: 40px 0 40px 0;
    font-family: 'Roboto', sans-serif;

}

.best-seller a {
    text-decoration: none;
}

.best-seller-title {
    
    text-transform: uppercase;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.perfume-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.perfume-list img {
    width: 115px;
    height: 145px;
}

.perfume-list ul {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfume-list li:nth-child(2) {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #484848
}

.perfume-list li:nth-child(3) {
    font-size: 13px;
    text-transform: uppercase;
    color: #c0c0c0;
}

.perfume-list li:nth-child(4) {
    font-size: 12px;
    color: #D44444;
}

.perfume-list li {
    margin-bottom: 6px;
}



                    /******   ******/





/**** section 3 ****/


.sale-off {
    
    width: 100%;
    height: 625px;
    background: url(../img/new-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sale-off-description{
    
    width: 40%;
}

.sale-off-number {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background-color: white;
    border: 1px solid white;
    border-radius: 75px;
    text-transform: uppercase;
    font-size: 2em;
    color: #D44444;
    font-family: 'Roboto', sans-serif;
    
}


.sale-off-title {
    
    font-size: 3em;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-left: 70px;
}


.daisy {
    
    width: 20%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.daisy ul {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}


.daisy ul li:nth-child(1){
    margin-bottom: 13px
}

.daisy ul li:nth-child(2) {
    
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
}

.daisy ul li:nth-child(3) {
    font-size: 10px;
    color: #DCDCDC;
    font-weight: lighter;
    margin-bottom: 13px;
}
.daisy ul li:nth-child(4) {
    
    color: #C0C0C0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.daisy ul a {
    
    border: 1px solid #d44444;
    border-radius: 15px;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    color: #d44444;
    padding: 7px 30px;
    transition-duration: .3s;
}

.daisy ul a:hover {
    background: #d44444;
    color: white;
}


.separation {
    margin-bottom: 100px;
}


                    /******   ******/



/****** SECTION 4  ******/


.news {
    
    width: 100%;
    height: 400px;
    background: url(../img/newsletter-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.news h1 {

    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.news form{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    width: 40%;
}


input[type=email] {
    width: 60%;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 40%;
    background-color: rgba(0,0,0,0);
    color: #D44444;
    padding: 14px 20px;
    border: 1px solid #D44444;
    border-radius: 22px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #be3d3d;
    color: white;
}






/*********************/

footer{
    width: 100%;
    background-color: #202020;
    font-family: 'Roboto', sans-serif;
    
}

.footer-first {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 60px 0px;
}

.footer-first h1 {
    
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
    
}

.footer-first li {
    color: #484848;
    cursor: pointer;
    font-size: smaller;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.footer-first li:hover {
    color: white;
}

.footer-second {
    width: 100%;
    background-color: black;
    text-align: center;
}

.footer-second p {
    color: #484848;
    font-size: small;
    padding: 10px 0;
}



















